extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				+m-borderBottomTitle01({tag:"h3",text:"デフォルトテキストセット(WYSIWYG)"})
				+m-defaultTag({tag:"div"})
					p!= DUMMY_TEXT_400

					ul
						li!= DUMMY_TEXT_50
							ul
								li!= DUMMY_TEXT_20
									ul
										li!= DUMMY_TEXT_20
					
					ol
						li!= DUMMY_TEXT_50
							ol
								li!= DUMMY_TEXT_50
									ol
										li!= DUMMY_TEXT_50

			+l-columnBlock({tag:"div"})
				+m-borderBottomTitle01({tag:"h3",text:"ディスクリスト"})
				+m-discList01
					li ディスクリスト
						ul
							li ディスクリスト
								ul
									li ディスクリスト

			+l-columnBlock({tag:"div"})
				+m-borderBottomTitle01({tag:"h3",text:"数字リスト"})
				+m-decimalList01
					li 数字リスト
						ul
							li 数字リスト
								ul
									li 数字リスト
		

			+l-columnBlock({tag:"div"})
				+m-borderBottomTitle01({tag:"h3",text:"テキストリンク"})
				p
					+m-linkModule01({url:"index.html"})
						| テキストリンク

			+l-columnBlock({tag:"div"})
				+m-borderBottomTitle01({tag:"h3",text:"テーブル"})
				+m-table01({tag:"div"})
					thead
						tr
							th テキスト
							th テキスト
							th テキスト
					tbody
						tr
							th テキスト
							td!= DUMMY_TEXT_400
							td
								ol
									li!= DUMMY_TEXT_50
									li!= DUMMY_TEXT_50
			
			+l-columnBlock({tag:"div"})
				+m-borderBottomTitle01({tag:"h3",text:"パンくず"})
				+m-breadcrumb01([{text:"ホーム", url:"#"}, {text:"下層ページ", url:"#"}, {text:"下層ページ"}])