extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+m-defaultTag({tag:"div"})
				p!= DUMMY_TEXT_400

				ul
					li!= DUMMY_TEXT_50
						ul
							li!= DUMMY_TEXT_20
								ul
									li!= DUMMY_TEXT_20
				
				ol
					li!= DUMMY_TEXT_50
						ol
							li!= DUMMY_TEXT_50
								ol
									li!= DUMMY_TEXT_50
			+m-discList01
				li ディスクリスト
					ul
						li ディスクリスト
							ul
								li ディスクリスト

			+m-decimalList01
				li 数字リスト
					ul
						li 数字リスト
							ul
								li 数字リスト
			

			p
				+m-linkModule01({url:"index.html"})
					| テキストリンク

			
			+m-table01({tag:"div"})
				thead
					tr
						th テキスト
						th テキスト
						th テキスト
				tbody
					tr
						th テキスト
						td!= DUMMY_TEXT_400
						td
							ol
								li!= DUMMY_TEXT_50
								li!= DUMMY_TEXT_50
			

			+m-breadcrumb01([{text:"ホーム", url:"#"}, {text:"下層ページ", url:"#"}, {text:"下層ページ"}])